iron-ajax#MakeNamespace(method='POST', url='/api/workgroup/create', handle-as='json', last-error='{{error}}', last-response='{{resp}}',
    content-type='application/json', loading='{{submittingWorkgroup}}', on-input='clearInvalidation')
iron-ajax#GetMyNamespace(url='/api/workgroup/exists', handle-as='json')
paper-card#MainCard
    figure#Logo !{logo}
    neon-animated-pages.Main-Content(selected='[[page]]',
            entry-animation='fade-in-animation',
            exit-animation='fade-out-animation')
        neon-animatable
            h2 {{localize('registrationPage.lblWelcome')}}
            aside {{localize('registrationPage.registrationDesc')}}
            .actions
                paper-button(on-click='nextPage') {{localize('registrationPage.btnStartSetup')}}
        neon-animatable
            h2 {{localize('registrationPage.lblNamespace')}}
            aside {{localize('registrationPage.lblNamespaceDesc')}}
            md2-input#Namespace(label="{{localize('registrationPage.lblNamespaceName')}}", value='{{namespaceName}}', allowed-pattern='[[_namespaceValidationRegex]]',
                error='{{localize(error.response.error, "namespace", error.response.namespace)}}', disabled='[[submittingWorkgroup]]', maxlength=253)
            iron-a11y-keys#keys(target='[[namespaceInput]]', keys='enter', on-keys-pressed='finishSetup')
            .actions
                paper-button(on-click='finishSetup', disabled='[[or(submittingWorkgroup, waitForRedirect)]]') {{localize('registrationPage.btnFinish')}}
                paper-button(on-click='backPage', disabled='[[submittingWorkgroup]]') {{localize('registrationPage.btnBack')}}
    carousel-indicator(size=2, selected='{{page}}')

nav#Links
    a(href='https://github.com/kubeflow/kubeflow', tabindex='-1', target="_blank") {{localize('registrationPage.linkGitHub')}}
    a(href='https://www.kubeflow.org/docs/about/kubeflow/', tabindex='-1', target="_blank") {{localize('registrationPage.linkDocumentation')}}
    a(href='https://policies.google.com/privacy', tabindex='-1', target="_blank") {{localize('registrationPage.linkPrivacy')}}
